<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Vue</title>
    <script type="text/javascript" src="https://unpkg.com/colyseus.js@^0.14.0/dist/colyseus.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>
<body>
<div id="app">
    <v-app>
        <v-content>

            <!-- TOOLBAR -->
            <!-- <v-toolbar>
              <v-toolbar-title>Bid PVP</v-toolbar-title>
              <v-toolbar-items>
              </v-toolbar-items>
            </v-toolbar> -->
            <!-- END TOOLBAR -->

            <v-container>
                <v-card class="d-flex">
                    <v-card-text>
                        <v-row class="pt-1">
                            <v-col cols="12" sm="1">
                                <v-btn text x-large block @click="onGameJoin" :disabled="connected"> Join </v-btn>
                            </v-col>
                            <v-col cols="12" sm="2">
                                <v-text-field v-model="firebaseId" label="Firebase ID" outlined append-icon="mdi-reload" @click:append="reloadId" :disabled="connected">
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="2">
                                <v-text-field v-model="reservation" label="Reservation" outlined append-icon="mdi-reload" @click:append="reloadId" :disabled="connected">
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>

                        <p>
                            <v-btn text @click="onBid" class="ml-2" :disabled="!canBid">Bid</v-btn>
                            <v-btn text @click="onLotReady" class="ml-2" :disabled="!waitingLot">LotReady</v-btn>
                            
                            <v-btn v-for="(p, i) in pis" :key='i' text @click="onEmoji(p.id)" style="padding:0;min-width:0;" class="ml-2" :disabled="!canBid"><span v-html="p.n"></span></v-btn>
                        </p>

                        <v-divider></v-divider>
                        <v-container>
                            <v-card class="d-flex">
                                <v-flex xs4>
                                    <div class="pa-5 mt-2">
                                        <b> GAME STATE: </b><br />
                                        <pre>{{state}}</pre>
                                    </div>
                                </v-flex>

                                <v-flex xs4>
                                    <div class="pa-5 mt-2">
                                        <b> LOT: </b><br />
                                        <div v-html="lotInfo"></div>
                                    </div>
                                </v-flex>

                                <v-flex xs4>
                                    <div class="pa-5 mt-2">
                                        <b> PLAYER: </b><br />
                                        <pre>{{playerInfo}} </pre><br /><br />
                                        <b> EMOJI: </b><br />
                                        <div v-html="emoji"></div>
                                    </div>
                                </v-flex>

                                <v-flex xs4>
                                    <div class="pa-5 mt-2">
                                        <b> MESSAGE: </b><br />
                                        <pre>{{messageInfo}} </pre>
                                    </div>
                                </v-flex>

                            </v-card>
                        </v-container>

                    </v-card-text>
                </v-card>
            </v-container>
        </v-content>
    </v-app>
</div>
</body>
</html>

<script>

    const lodash = _;

    const serverService = {
        client: null,
        room: null,
        connected: false,
        serverData: null,
        items: {},
        emojis: {},
        highlights: [],
        xrays:[],
        emoji: {},
        
        sendMessage(command, args) {
            serverService.room.send("message", { command, args, commandIndex: 0 });
            console.log('command', command, args);
        },

        async connect(firebaseId, reservation) {
            if (serverService.connected) return;

            serverService.client = new Colyseus.Client('ws://localhost:2567');

            if (reservation) {
                let response = JSON.parse(reservation);
                console.log(`Trying to connect using reservation ${reservation}`);
                serverService.room = await serverService.client.consumeSeatReservation(response);
                console.log("joined successfully", serverService.room);
                serverService._addListeners();
            }
            else {
                const cityId = 'City01';
                serverService.room = await serverService.client.joinOrCreate('bidpvp', {
                    city: cityId,
                    userId: firebaseId,
                    clientWeb: true,
                });
                console.log(`Connected on city ${cityId}`);
                serverService._addListeners();
            }
            serverService.connected = true;
        },

        _addListeners() {
            serverService.room.onMessage('items', (message) => {
                const items = JSON.parse(message).items;
                lodash.forEach(items, item => {
                    serverService.items[item.id] = item;
                    //console.log(`ITEM ${JSON.stringify(item)}`);
                });
            });

            serverService.room.onMessage('emojis', (message) => {
                const emojis = JSON.parse(message).emojis;
                lodash.forEach(emojis, emoji => {
                        if (emoji.id === 'sunglass') emoji.rep = '&#128526;';
                        else if (emoji.id === 'money') emoji.rep = '&#129297;';
                        else if (emoji.id === 'silence') emoji.rep = '&#129323;';
                        else if (emoji.id === 'anxiety') emoji.rep = '&#128556;';
                        else if (emoji.id === 'angry') emoji.rep = '&#128545;';
                        else if (emoji.id === 'silly') emoji.rep = '&#128540;';
                        else if (emoji.id === 'cry') emoji.rep = '&#128557;';
                        else if (emoji.id === 'think') emoji.rep = '&#129300;';
                        else if (emoji.id === 'upset') emoji.rep = '&#128533;';
                    });
                    Vue.set(app, 'emojiList', emojis);
            });

            serverService.room.onMessage('*', (message) => {
                if (message && JSON.parse(message).emoji) {
                    app.setEmoji(message);
                }
                else {
                    serverService.serverData = message;
                }
            });

            serverService.room.onJoin(() => {
                console.log('Joined on room', serverService.room.id);
            });

            serverService.room.onLeave(() => {
                console.log("Left room", arguments);
            });
        },
        
        getItem(itemId) {
            if (serverService.items && !lodash.isEmpty(serverService.items)) {
                return serverService.items[itemId];
            }
            return {
                price: 0,
                category: 'X',
                rarity: 'X'
            };
        }
    };

    let app = new Vue({
        el: '#app',
        vuetify: new Vuetify(),

        data() {
            return {
                connected: false,
                clientId: null,
                firebaseId: '',
                state: {},
                reservation: '',
                emoji: '',
                emojiList: {},
            }
        },

        computed: {
            me() { return lodash.get(this, `state.players.${this.clientId}`) },

            pis() {
                const info = [];
                if (this.emojiList) {
                    lodash.forEach(this.emojiList, emoji => {
                        info.push({
                            id: emoji.id,
                            n: emoji.rep,
                        });
                    });
                }
                return info;
            },

            canBid() {
                return this.state.status === 'PLAY'
                    && this.state.lots[this.state.currentLot].bidOwner !== this.clientId
                    && this.state.lots[this.state.currentLot].status === 'PLAY';
            },

            waitingLot() {
                return this.state.status === 'PLAY' && this.state.lots[this.state.currentLot].status === 'WAITING';
            },

            lotInfo() {
                let info = '';

                if (this.state && this.state.status === 'PLAY') {

                    if (this.state.lots[this.state.currentLot].status === 'WAITING') {
                        serverService.highlights = [];
                        serverService.xray = [];
                        serverService.emoji = {};
                        this.setEmoji('{}');
                    }

                    const lot = this.state.lots[this.state.currentLot];
                    let totalItems = 0

                    lodash.forEach(this.state.lots[this.state.currentLot].items, (item, _key) => {
                        const itemInfo = serverService.getItem(item.itemId);
                        totalItems += itemInfo.price;
                    });

                    info += `<b>current lot: ${this.state.currentLot} </b><br>`;
                    info += `status: ${this.state.lots[this.state.currentLot].status} <br>`;
                    info += `DOLE: ${lot.dole} <br><br>`;
                    info += `bidValue: ${lot.bidValue} <br>`;
                    info += `nextBidValue: ${lot.nextBidValue} <br>`;
                    info += `bidOwner: ${lot.bidOwner} <br>`;
                    info += `<br><b>Items:</b> $${totalItems}<br>`;

                    lodash.forEach(this.state.lots[this.state.currentLot].items, (item, _key) => {
                        const itemInfo = serverService.getItem(item.itemId);
                        let color = 'black';
                        let highlight = '';

                        if (itemInfo.rarity === 'Rare') color = 'blue';
                        else if (itemInfo.rarity === 'Epic') color = 'purple';

                        if (lodash.includes(serverService.highlights, item.itemId)) highlight = ';font-weight: bold';
                        info += `&nbsp;&nbsp;&nbsp; <span style="color:${color}${highlight}">[${item.itemId}] ${itemInfo.category}: $${itemInfo.price} </span><br>`;
                    });

                    info += `<br><b>Boxes:</b> <br>`;
                    lodash.forEach(this.state.lots[this.state.currentLot].boxes, (box, idx) => {
                        let color = 'black';
                        let highlight = '';
                        let item = '';

                        const xray = lodash.find(serverService.xray, xray => xray.index === idx);
                        if (xray) {
                            highlight = ';font-weight: bold';
                            item = xray.itemId;
                        }
                        info += `&nbsp;&nbsp;&nbsp; <span style="color:${color}${highlight}">${idx}: ${box.boxId} ${item}</span><br>`;
                    });
                }

                return info;
            },

            playerInfo() {
                let info = '';

                if (this.me) {
                    info += `clientId: ${this.me.id}\n`;
                    info += `money: ${this.me.money}\n`;
                }

                return info;
            },
            messageInfo() {
                let info = '';

                if (this.state && this.state.status === 'PLAY' && serverService.serverData) {

                    serverService.highlights = [];
                    serverService.xray = [];

                    if (this.state.lots[this.state.currentLot].status === 'WAITING') {
                        return '';
                    }

                    const message = JSON.parse(serverService.serverData);

                    if (message.highlight) {
                        info += `Highlight:`;
                        lodash.forEach(message.highlight, item =>{
                            serverService.highlights.push(item.itemId);
                            info += ` ${item.itemId}\n`;
                        });
                    }
                    if (message.xray) {
                        info += `Xray:`;
                        lodash.forEach(message.xray, item =>{
                            serverService.xray.push(item);
                            info += ` ${item.index}: ${item.boxId} ${item.itemId}\n`;
                        });
                    }
                }

                return info;
            },
            
        },

        methods: {
            setEmoji(emojiMessage) {
                const message = JSON.parse(emojiMessage);
                let info = '';

                if (this.state && this.state.status === 'PLAY') {
                    if (message.emoji) {
                        if (!serverService.emoji[message.client]) {
                            serverService.emoji[message.client] = {};
                        }

                        serverService.emoji[message.client].emoji = message.emoji;
                        if (serverService.emoji[message.client].timeout) {
                            clearTimeout(serverService.emoji[message.client].timeout);
                        }

                        serverService.emoji[message.client].timeout = setTimeout(function() {
                            delete serverService.emoji[message.client];
                        }, 2000);
                    }

                    lodash.forEach(this.state.players, (player, key) => {
                        let emoji = '';
                        if (serverService.emoji[key]) {
                            emoji = serverService.emoji[key].emoji;
                            if (emoji === 'sunglass') emoji = '&#128526;';
                            else if (emoji === 'money') emoji = '&#129297;';
                            else if (emoji === 'silence') emoji = '&#129323;';
                            else if (emoji === 'anxiety') emoji = '&#128556;';
                            else if (emoji === 'angry') emoji = '&#128545;';
                            else if (emoji === 'silly') emoji = '&#128540;';
                            else if (emoji === 'cry') emoji = '&#128557;';
                            else if (emoji === 'think') emoji = '&#129300;';
                            else if (emoji === 'upset') emoji = '&#128533;';
                        }
                        info += `${key}: ${emoji}<br>`;
                    });
                }

                this.emoji = info;
            },

            async onGameJoin() {
                await serverService.connect(this.firebaseId, this.reservation);

                this.connected = true;
                this.clientId = serverService.room.sessionId;
                serverService.room.onStateChange((state) => {
                    const plainState = JSON.parse(JSON.stringify(state));
                    Vue.set(this, 'state', plainState);
                });
            },

            async onBid() {
                await serverService.sendMessage('AUCTION_BID');
            },

            async onEmoji(emoji) {
                await serverService.sendMessage('EMOJI',{'emoji': emoji});
            },

            async onLotReady() {
                await serverService.sendMessage('AUCTION_LOT_READY');
            },

            reloadId() {
                this.firebaseId = '' + Math.random().toString(36).substr(2, 9);
                window.localStorage.setItem('firebaseId', this.firebaseId);
            }
        },

        watch: {
            firebaseId() {
                window.localStorage.setItem('firebaseId', this.firebaseId);
            }
        },

        created() {
            const id = window.localStorage.getItem('firebaseId');
            if (id) {
                this.firebaseId = id;
            } else {
                this.firebaseId = '' + Math.random().toString(36).substr(2, 9);
                window.localStorage.setItem('firebaseId', this.firebaseId);
            }
        }

    })
</script>
